@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: raleway, sans-serif;
  margin: auto;
}
main {
  max-width: 1680px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
/* ANIMATIONS */
.containerHebergementItem:hover,
.containerPopulairesItem:hover,
.searchFilterChoice:hover,
.containerActivity:hover,
.containerActivitySmall:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}
/* NAVBAR */

.header {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . navbar button";
  max-width: 1680px;
  margin: auto;
  align-items: center;
}

.logo {
  grid-area: logo;
}
.navbarLink {
  overflow: hidden;
  max-width: 1680px;
  margin: auto;
}

.navbarLink a {
  grid-area: navbar;
  float: left;
  text-align: center;
  color: black;
  border-top: 4px solid white;
  padding: 40px 25px;
  text-decoration: none;
  font-size: 20px;
}

.navbarLink a:hover {
  opacity: 0.5;
  border-top: 4px solid #0065fc;
  color: black;
}

.navbarLink a.active {
  border-top: 4px solid #0065fc;
  color: #0065fc;
}

.navbarLink {
  grid-area: navbar;
  color: black;
}

#subscribe {
  font-weight: bold;
  text-align: center;
  border-top: 4px solid white;
  padding: 40px 25px;
  text-decoration: none;
  font-size: 20px;
  color: #0065fc;
  grid-area: button;
}

/*SECTION SEARCH*/

.searchTitle {
  font-size: 20px;
  margin: 0px;
}

.searchForm {
  display: inline-flex;
  max-width: 100%;
}
.searchFormIconGps {
  background-color: #f2f2f2;
  padding: 1em;
  border-radius: 15px 0px 0px 15px;
  width: 10px;
}

.searchFormInput {
  padding: 6px;
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  font-size: 17px;
  width: 100%;
}
.searchFormInput::placeholder {
  color: black;
  font-weight: bold;
}
.searchFormButton {
  color: white;
  background: #0065fc;
  padding: 1em;
  border-radius: 0px 15px 15px 0px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.searchFormButton:hover {
  opacity: 0.5;
}
.searchFormButtonIcon {
  display: none;
}
.searchFilter {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
}

.searchFilterTitle {
  margin: 0 2em 0 0;
  display: flex;
  align-items: center;
}

.searchFilterChoice {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 2em;
  font-size: 17px;
  font-weight: bold;
  margin: 1em;
  cursor: pointer;
  transition-duration: 0.1s;
}

.searchFilterChoiceIcon {
  font-size: 1.5em;
  border-radius: 50%;
  background-color: #afe2faad;
  color: #0065fc;
  line-height: 2em;
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
  text-align: center;
  display: inline-block;
}

.searchFilterChoiceText {
  margin-right: 1em;
}

.searchText {
  display: flex;
  margin-bottom: 2em;
}

.searchTextIcon {
  font-size: 1.5em;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  color: #0065fc;
  line-height: 2em;
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
  text-align: center;
  display: inline-block;
}

/* SECTION HEBERGEMENTS */

.hebergements {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.containerHebergement {
  /* We first create a flex layout context */
  display: flex;
  flex-basis: 70%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1em;
  margin: 1em;
  background-color: #f2f2f2;
  border-radius: 30px;
}

.containerHebergementTitle {
  flex: 100%;
  margin: 1em;
  font-size: 28px;
}

.containerHebergementItem {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 0 0 16px #0000002e;
  width: 300px;
  background-color: white;
  margin: 1em;
  transition-duration: 0.1s;
}

.containerHebergementItem img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 9em;
  max-height: 100%;
  border-radius: 30px 30px 0px 0px;
}
.containerHebergementItem h2 {
  font-size: 20px;
  margin: 3px 0px 3px 0px;
}

.containerHebergementItem p {
  margin: 10px 0px 10px 0px;
}
.ContainerHebergementInfos {
  margin-left: 1em;
}

.containerHebergementLink {
  font-size: 20px;
  font-weight: bold;
  margin: 1em;
  flex: 100%;
}

.fa-star {
  color: #0065fc;
}

.empty {
  color: #f2f2f2;
}

/* SECTION POPULAIRES */

.populaires {
  display: flex;
  flex-basis: 30%;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  margin: 1em;
  background-color: #f2f2f2;
  border-radius: 30px;
}

.containerPopulairesTitle {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  margin-left: 1em;
  margin-bottom: 1.5em;
}

.containerPopulairesItem {
  position: relative;
  display: flex;
  padding: 5px;
  height: 170px;
  background-color: white;
  text-align: left;
  border-radius: 30px;
  box-shadow: 0 0 16px #0000002e;
  margin: 1em 1em 2em 1em;
  transition-duration: 0.1s;
}
.containerPopulairesIcons {
  position: absolute;
  bottom: 5px;
}
.containerPopulairesItem img {
  object-fit: cover;
  width: 40%;
  border-radius: 30px 0px 0px 30px;
}

.containerPopulairesInfos {
  margin-left: 1em;
}
.containerPopulairesInfos h2 {
  font-size: 20px;
  margin: 10px 0px 0px 0px;
}

.containerPopulairesInfos p {
  margin: 10px 0;
}

/* SECTION ACTIVITES */

.activity {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
  justify-content: center;
  margin: 50px auto;
}

.activityTitle {
  margin: 1em;
  font-size: 28px;
}
.containerActivity {
  margin: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
}
.containerActivityImgWrap {
  position: relative;
  flex: 1;
}
.containerActivityImg {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
}

.activity h2 {
  margin-left: 1.5em;
  font-size: 22px;
}

.containerActivity1 {
  grid-row: 1/7;
  grid-column: 1/2;
}

.containerActivity2 {
  grid-row: 1/6;
  grid-column: 2/3;
}
.containerActivity3 {
  grid-row: 6/7;
  grid-column: 2/3;
}
.containerActivity4 {
  grid-row: 1/7;
  grid-column: 3/4;
}
.containerActivity5 {
  grid-row: 1/4;
  grid-column: 4/5;
}
.containerActivity6 {
  grid-row: 4/7;
  grid-column: 4/5;
}

/* FOOTER */

footer {
  position: relative;
  background: #f2f2f2;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.footerContainer {
  display: flex;
  margin: auto;
  max-width: 1680px;
}

.footerContainerCollumn {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  padding: 2em;
}

.footerContainerCollumnLink {
  text-decoration: none;
  color: black;
  margin: 1em 0 0.5em;
}
.footerContainerCollumnLink:hover {
  text-decoration: underline;
}

/* RESPONSIVE TELEPHONE */

@media screen and (max-width: 618px) {
  main {
    margin: 1em;
  }
  /*HEADER*/
  .header {
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . button" "navbar navbar navbar";
    margin-bottom: 3em;
  }
  .logo {
    grid-column: 1;
    grid-row: 1;
    margin-left: 2em;
  }
  #subscribe {
    grid-row: 1;
    grid-column: 3;
  }
  .navbarLink {
    display: flex;
    width: 100%;
  }
  .navbarLink a {
    color: black;
    border-top: none;
    border-bottom: 4px solid #f2f2f2;
    font-size: 20px;
    width: 50%;
  }
  .navbarLink a.active {
    border-top: none;
    border-bottom: 4px solid #0065fc;
    color: #0065fc;
  }
  .navbarLink a:hover {
    opacity: 0.5;
    border-bottom: 4px solid #0065fc;
    border-top: none;
    color: black;
  }

  /*SECTION SEARCH*/

  .searchTitle {
    font-size: 28px;
  }
  .searchText {
    font-size: 18px;
  }
  .searchForm {
    display: flex;
    width: 100%;
  }
  .searchFormButton {
    border-radius: 15px;
  }
  .searchFormButtonIcon {
    display: inline-block;
  }
  .searchFormButtonText {
    display: none;
  }

  .searchFilterTitle {
    width: 100%;
  }
  /*SECTION HEBERGEMENTS*/

  .containerHebergementTitle {
    font-size: 26px;
  }

  /*POPULAIRES*/
  .containerPopulairesTitle {
    width: 100%;
  }
  .containerPopulairesInfos h2 {
    font-size: 20px;
  }
  .containerPopulairesItem img {
    width: 40%;
  }
  /*SECTION ACTIVITES*/
  .activity {
    display: flex;
    flex-direction: column;
  }
  .containerActivity {
    margin: 2em;
  }
  .containerActivityImg {
    position: inherit;
    height: 200px;
  }
  /*FOOTER*/
  .footerContainer {
    flex-direction: column;
  }
  .footerContainerCollumn {
    padding: 2em 2em 1em;
  }
}

/*RESPONSIV TABLETTE*/

@media screen and (max-width: 769px) {
  /*SECTION HEBERGEMENTS*/
  .containerPopulairesItem {
    width: 90%;
  }
  .containerHebergement {
    display: block;
  }
  .containerHebergementItem {
    width: 90%;
  }
  /*SECTION ACTIVITES*/

  .activity {
    display: flex;
    flex-direction: column;
  }
  .containerActivity {
    margin: 2em;
  }
  .containerActivityImg {
    position: inherit;
    height: 200px;
  }
}

/* RESPONSIV DESKTOP */
@media screen and (max-width: 1440px) {
  /*HEBERGEMENT*/
  .hebergements {
    flex-direction: column;
  }
  .populaires {
    order: 1;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .containerPopulaires {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  .containerPopulairesTitle {
    display: flex;
    grid-column: 1/-1;
    margin: 1em 0em 1em 0em;
    flex: 100%;
  }
  .containerPopulairesItem {
  }
  .containerHebergement {
    order: 2;
  }
  /*ACTIVITES*/
  .activity {
    grid-template-columns: repeat(3, 1fr);
  }
  .containerActivity1 {
    grid-row: 1/5;
    grid-column: 1/2;
  }
  .containerActivity2 {
    grid-row: 1/5;
  }
  .containerActivity3 {
    grid-row: 5/7;
    grid-column: 1/2;
  }
  .containerActivity4 {
    grid-row: 5/7;
    grid-column: 2/3;
  }
  .containerActivity5 {
    grid-row: 1/5;
    grid-column: 3/4;
  }
  .containerActivity6 {
    grid-row: 5/7;
    grid-column: 3/4;
  }
}

@media screen and (max-width: 1080px) {
  .containerPopulaires {
    display: flex;
    flex-direction: column;
  }
}
