body{
    font-family:raleway, sans-serif;
    width:75%;
    margin: auto;
}





/* NAVBAR */

.logo{
padding-top:1em;

}
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
text-align: center;
color:black;
padding: 40px 25px;
text-decoration: none;
font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
opacity:0.5;
border-top : 4px solid #0065FC;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  border-top : 4px solid #0065FC;
  color:#0065FC;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
color:black;
}


#subscribe{
    font-weight:bold;
    color: #0065FC;
}

  /*SECTION SEARCH*/

  
  .searchTitle{
    font-size:20px;
    margin:0px;
  }

  .searchForm{
    display:inline-flex;
  }
  .searchForm i{
    background-color:#F2F2F2;
    padding:1em;
    border-radius: 15px 0px 0px 15px;
    width:10px;
  }

  .searchFormInput{
    padding: 6px;
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    font-size: 17px;
    width:220px;
  }
  .searchFormInput::placeholder{
    color:black;
    font-weight:bold;
  }
  .searchFormButton{
    color:white;
    background:#0065FC;
    padding:1em;
    border-radius:0px 15px 15px 0px;
    font-weight:bold;
    font-size:16px;
    border:none;
    cursor:pointer;
  }

  .searchFilter{
    margin-top:2em;
    margin-bottom:2em;
    display:flex;
  }

  .searchFilterTitle{
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
  }

 .searchFilterChoice{
   display:flex;
   align-items: center;
   border: 2px solid #d9d9d9;
   border-radius: 2rem;
   border-radius:25px;
   font-size: 17px;
   font-weight:bold;
   margin:1em;
   cursor:pointer;
 }

.searchFilterChoiceIcon{
  font-size:1.5em;
  border-radius: 50%;
  background-color:#afe2faad;
  color: #0065FC;
  line-height: 2em;
  width: 2em;
  height: 2em;
  margin-right:0.5em;
  text-align: center;
  display: inline-block;
  transition:0.5s;
}

.searchFilterChoice:hover{
  opacity:0.7;
 color: black;
}

.searchFilterChoiceText{
  margin-right:1em;
}
 
.searchText{
  display:flex;
}

.searchTextIcon{

  font-size:1.5em;
  border-radius: 50%;
  border: 1px solid #F2F2F2;
  color: #0065FC;
  line-height: 2em;
  width: 2em;
  height: 2em;
  margin-right:0.5em;
  text-align: center;
  display: inline-block;
}

 /* FLEXBOX */ 
 .hebergements{
     display:flex;
     justify-content: space-between;
     width: 100%;

 }
 
.containerHebergement {
    /* We first create a flex layout context */
    display: flex;
    flex-basis:70%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    margin: 1em;
    background-color:#F2F2F2;
  }

  
  
  /*.containerHebergementTitle{
    margin: 0;
    display: flex;
    flex-direction: column;
  }*/
  
  .containerHebergementItem {
    padding: 5px;
    border-radius:30px;
    width: 300px;
    height: 270px;
    background-color:white;
    text-align: left;
    margin:1em;
  }

  .containerHebergementItem img{
    object-fit: cover;
    height:150px;
    width:300px;
    border-radius:30px 30px 0px 0px;
  }
  .containerHebergementItem h2{
    font-size: 20px;
  }

  .ContainerHebergementInfos{
    margin-left:1em;
  }

  .fa-star{
    color:#0065FC;
  }

  .empty{
    color:#F2F2F2;
  }

.populaires{
  display: flex;
  flex-basis: 30%;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  margin: 1em;
  background-color: #F2F2F2;}

  .containerPopulaires {
    
  }

  .containerPopulairesItem {
    display:flex;
    padding: 5px;
    width: 250px;
    text-align: left;
  }

  .containerPopulairesItem img {

    height: 60px;
    width: 60px;
  }





  /* FOOTER */
  footer {
    position:relative;
    background:#F2F2F2;
    height:300px;
    bottom:0;
    width:100%;
    margin:0; padding:0;

  }

  .footerContainer{
    display:flex;

  }

  .footerContainerCollumn{
    display:flex;
    flex-basis:30%;
    flex-direction:column;
    padding: 2em;
  }

  .footerContainerCollumnLink{
    text-decoration:none;
    color:black;
    margin-top:1em;
    margin-bottom:1em;
  }
  


 